body {
  font-family: sans-serif;
  margin: 0;
}
header {
  height: 75px;
}
.main-column {
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart {
  display: flex;
  align-items: center;
}
.cart img, .cart div {
  display: inline-block;
}
.full-width {
  width: 100%;
}
.hero {
  background: url(img/viking_ship_background_medium.jpg);
  background-size: cover;
  background-position: center;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}
.hero .name {
  color: white;
  background-color: hsla(0, 0%, 0%, 0.75);
  padding: .5em;
}
.sidekick-1 {
  color: white;
  background-color: hsl(0, 20%, 15%);
  height: 10vw;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidekick-2 {
  height: 5vw;
  border-bottom: 1px solid hsl(0, 20%, 15%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.item-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}
product {
  width: 30%;
  background-color: hsl(0, 20%, 15%);
  text-align: center;
  margin: .5em;
}
.item-title {
  color: white;
  font-weight: bold;
  padding: .5em;
}
.show-page .item-image {
  height: 480px;
}
.item-image {
  width: 100%;
  height: 150px;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/*.item-cell.silent-night .item-image { background-image: url(img/axe_silent_night_small.jpg) }
.item-cell.dainty-daisy .item-image { background-image: url(img/axe_dainty_daisy_small.jpg) }
.item-cell.double-trouble .item-image { background-image: url(img/axe_double_trouble_small.jpg) }
.item-cell.whispering-wind .item-image { background-image: url(img/axe_whispering_wind_small.jpg) }
.item-cell.cunning-cutter .item-image { background-image: url(img/axe_cunning_cutter_small.jpg) }
.item-cell.kingmaker .item-image { background-image: url(img/axe_kingmaker_small.jpg) }*/
#category-dropdown {
  display: inline-block;
  float: right;
  clear: both;
}

.item-price {
  border: 1px solid black;
  background-color: white;
  width: 3.5em;
  float: right;
}
.item-category {
  border: 1px solid black;
  background-color: white;
  width: 3.5em;
  float: left;
}
.purchasing {
  padding: .5em;
}
.pagination {
  width: 100%;
  text-align: center;
  margin: 1em auto;
}
footer {
  width: 100%;
  color: white;
  background-color: hsl(0, 20%, 15%);
  padding: 1em;
  font-size: 1em;
}
.contact {
  width: 250px;
  margin: auto;
  display: block;
}
.contact-header {
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: hsl(0, 77%, 86%);
}
.contact-detail {
  display: block;
  margin: .5em 0;
}
.contact-detail .icon {
  width: 1.5em;
  display: inline-block;
}
.contact-detail .icon img {
  max-width: 100%;
}
.text-center {
  text-align: center;
}
.quantity {
  width: 3em;
}
